
@font-face {
    font-family: gotham-med;
    src: url(fonts/Gotham-Medium.otf);
    }
@font-face {
    font-family: gotham-bold;
    src: url(fonts/Gotham-Bold.otf);
    }
@font-face {
    font-family: avenir-next;
    src: url(fonts/avenir-next-regular.woff);
}

body {
    font-family: gotham-bold;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 3.7vw;
    margin: 0;
    text-transform: uppercase;
}

/**** header and nav **********************/

header {
    background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07bcd69444b1da123c309e5f4485371b&auto=format&fit=crop&w=1950&q=80");
    background-color: rgba(105, 97, 51, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    height: 35vw;
    background-position: center;
    text-align: center;
    color: white;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.icon {
    width: 8%;
    margin: 1%;
    font-size: 1.5vw;
}

.header-links {
    margin: 1%;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 8%;
}

  
#search {
    background-image: url("assets/search.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.5%;
    border: solid rgb(29, 41, 47) .25vw;
}

.headline {
    font-family: gotham-med;
    text-transform: uppercase;
    font-size: 5vw;
    margin: 2% auto;
}

header p {
    font-family: avenir-next;
    font-size: 2.25vw;
    line-height: 3vw;
    width: 68%;
    margin: 1.5% auto;
}


/**** staff gallery **********************/

.grid-2by3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    width: 95%;
    margin: 2.5%;
    text-transform: uppercase;
}
  
.galCell, .galCell-left {
    height: 20vw;
    text-align: center;
    font-size: 1.5vw;
}
  
#galleryCell-1 {
    display: flex;
    grid-row: 1 / 3;
    align-items: center;
    padding: 15%;    
}
  
#galleryCell-2 {
    background-image: url("https://scstylecaster.files.wordpress.com/2018/11/chris-pratt.jpg");
     background-size: cover;
}
  
#galleryCell-3 {
    background-image: url("http://blogs-images.forbes.com/erikkain/files/2015/01/Chris-Pratt-e1422428534712.jpg");
     background-size: cover;
}
  
#galleryCell-4 {
    background-image: url("https://d919ce141ef35c47fc40-b9166a60eccf0f83d2d9c63fa65b9129.ssl.cf5.rackcdn.com/images/bc-8714381777709190.original.jpg");
     background-size: cover;
}
  
#galleryCell-5 {
    background-image: url("https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2017/12/09/Pictures/actor-chris-pratt-arrives-movie-awards-burbank_b01c0cd4-dceb-11e7-ad52-47d546f3ccd3.jpg");
     background-size: cover;
}
  
#galleryCell-6 {
    background-image: url("https://content.swncdn.com/godvine/pics/GV-Article/godupdates%20actor%20Chris%20Pratt%20shared%20his%20testimony%20finding%20god%20at%20grocery%20fb.jpg");
     background-size: cover;
}
  
#galleryCell-7 {
    background-image: url("https://pluggedin.focusonthefamily.com/wp-content/uploads/2018/06/Blog-Top-6-20-18.png");
     background-size: cover;
}
  
#galleryCell-8 {
    background-image: url("https://www.mensjournal.com/wp-content/uploads/mf/chris-pratt-main-1280.jpg");
     background-size: cover;
}
  
#galleryCell-9 {
    background-image: url("https://www.trainmag.com/wp-content/uploads/2017/04/wsi-imageoptim-Chris-Pratt.jpg");
     background-size: cover;
}
  
#galleryCell-10 {
    display: flex;
    grid-column: 3;
    grid-row: 1 / 3;
    align-items: center;
    padding: 15%;
}
  
.galCell p, .galCell-left p {
    width: 45%;
    padding: 2%;
    margin: 0;
}

.galCell p {
    float: right;
}

.galCell-left p {
    float: left;
}

/****colors**************************/

.primary {
    background-color: rgb(29, 41, 47);
    color:  lightgray;
}

.primary2 {
    background-color: black;
    color:  rgb(241, 206, 91);
}

.secondary {
    background-color:  rgb(241, 206, 91);
    color:  black;
}

.third {
    background-color: lightgray;
    color:  rgb(29, 41, 47);
}

/**** footer **********************/

footer {
    font-family: gotham-med;
    width: 100%;
    height: 18vw;
    padding-top: 1%;
    padding-bottom: 3%;
}
  
.footer-nav {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 7vw   );
    justify-content: space-around;
    align-items: center;
}

/***links*********************************/

a {
    color: white;
    text-decoration: none;
    background-color: rgb(29, 41, 47);
}

a:hover {
    background-color:  rgb(241, 206, 91);
    color:  rgb(29, 41, 47);
}

.header-links a {
    width: 17%;
    padding-top: .5%;
    font-size: 1.5vw;
}

.footer-nav a {
    font-size: 1.5vw;
}

/***student page*********************/

.colored-header {
    color: rgb(241, 206, 91);
}
.student-grid {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    grid-column-gap: 1.5vw;
    height: 25vw;
    margin: 2.5%;
}

.article-content {
    padding-top: 1.5vw;
}

.student-grid h2 {
    font-family: gotham-med; 
    font-size: 3vw;
    line-height: 4.5vw;
    margin-bottom: 0;
}

.student-grid h3 {
    font-family: gotham-med; 
    font-weight: normal;
    font-size: 2vw;
    line-height: 4vw;
    margin: 0;
}

.student-grid p {
    font-family: avenir-next;
    font-size: 1.5vw;
    margin: 0;
}

.profile-img {
    background-size: cover;
    grid-column: 1 /span 2;
}
  
#student-1 {
    background-image: url("https://img.huffingtonpost.com/asset/586bf88f1900002a000e2b4d.jpeg?cache=xp5prt5ayh&ops=scalefit_720_noupscale");
}
  
#student-2 {
    background-image: url("http://tribzap2it.files.wordpress.com/2015/02/chris-pratt-johnny-karate.jpg?w=900&h=506");
}
  
#student-3 {
    background-image: url("https://imgix.bustle.com/2017/5/10/68d6dc75-afb3-4e50-8ccb-1db9f636649a.jpg");
}
  
#student-4 {
    background-image: url("https://i.pinimg.com/originals/64/09/1c/64091c358f5e7503f9c49571877506a5.png");
     background-position: center;
}

#rec {
    background-color:  rgb(241, 206, 91);
    height: 1vw;
    width: 100%;
    margin: 10%;
}

#alumni-1 {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
    padding: 15%; 
}

#alumni-2 {
    background-image: url("http://static6.uk.businessinsider.com/image/5b5f4a5c7708e922dc53cb32/chris-pratt-zoe-saldana-and-other-guardians-of-the-galaxy-actors-ask-disney-to-rehire-james-gunn.jpg");
    background-size: cover;
}

#alumni-3 {
    background-image: url("https://medias.spotern.com/spots/w640/59179-1532336916.jpg");
    background-size: cover;
}

#alumni-4 {
    background-image: url("https://i.ytimg.com/vi/2ZoYoQip7aE/maxresdefault.jpg");
    background-size: cover;
}

#alumni-5 {
    background-image: url("https://cdnx.natalie.mu/media/news/eiga/2016/1215/magnificentseven_201612_02_fixw_730_hq.jpg");
    background-size: cover;
    
}

@media (max-width: 850px) {
    .grid-2by3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #galleryCell-10 {
        grid-column: 2;
        grid-row: 2 / 4;
    }

    .galCell, .galCell-left {
        height: 30vw;
        font-size: 2vw;
    }

    h2 {
        font-size: 5.5vw;
    }
      
}

