
@font-face {
    font-family: gotham-med;
    src: url(fonts/Gotham-Medium.otf);
    }
@font-face {
    font-family: gotham-bold;
    src: url(fonts/Gotham-Bold.otf);
    }
@font-face {
    font-family: avenir-next;
    src: url(fonts/avenir-next-regular.woff);
}

body {
    font-family: gotham-bold;
    font-weight: normal;
    margin: 0;
}

/**** header and nav **********************/

header {
    background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07bcd69444b1da123c309e5f4485371b&auto=format&fit=crop&w=1950&q=80");
    background-color: rgba(105, 97, 51, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    height: 35vw;
    background-position: center;
    text-align: center;
    color: white;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.icon {
    width: 8%;
    margin: 1%;
    font-size: 1.5vw;
}

.header-links {
    margin: 1%;
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 8%;
}
  
#search {
    background-image: url("assets/search.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.5%;
    border: solid rgb(29, 41, 47) .25vw;
}

.headline {
    font-family: gotham-med;
    text-transform: uppercase;
    font-size: 5vw;
    margin: 2% auto;
}

header p {
    font-family: avenir-next;
    font-size: 2.25vw;
    line-height: 3vw;
    width: 68%;
    margin: 1.5% auto;
}


/**** staff gallery **********************/

#staffGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    width: 95%;
    margin: 2.5%;
    text-transform: uppercase;
}
  
.galCell, .galCell-left {
    height: 20vw;
    text-align: center;
    font-size: 1.5vw;
}
  
#galleryCell-1 {
    display: flex;
    grid-row: 1 / 3;
    align-items: center;
    font-size: 2.5vw;
    padding: 15%;    
}
  
#galleryCell-2 {
    background-image: url("https://scstylecaster.files.wordpress.com/2018/11/chris-pratt.jpg");
     background-size: cover;
}
  
#galleryCell-3 {
    background-image: url("http://blogs-images.forbes.com/erikkain/files/2015/01/Chris-Pratt-e1422428534712.jpg");
     background-size: cover;
}
  
#galleryCell-4 {
    background-image: url("https://d919ce141ef35c47fc40-b9166a60eccf0f83d2d9c63fa65b9129.ssl.cf5.rackcdn.com/images/bc-8714381777709190.original.jpg");
     background-size: cover;
}
  
#galleryCell-5 {
    background-image: url("https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2017/12/09/Pictures/actor-chris-pratt-arrives-movie-awards-burbank_b01c0cd4-dceb-11e7-ad52-47d546f3ccd3.jpg");
     background-size: cover;
}
  
#galleryCell-6 {
    background-image: url("https://content.swncdn.com/godvine/pics/GV-Article/godupdates%20actor%20Chris%20Pratt%20shared%20his%20testimony%20finding%20god%20at%20grocery%20fb.jpg");
     background-size: cover;
}
  
#galleryCell-7 {
    background-image: url("https://pluggedin.focusonthefamily.com/wp-content/uploads/2018/06/Blog-Top-6-20-18.png");
     background-size: cover;
}
  
#galleryCell-8 {
    background-image: url("https://www.mensjournal.com/wp-content/uploads/mf/chris-pratt-main-1280.jpg");
     background-size: cover;
}
  
#galleryCell-9 {
    background-image: url("https://www.trainmag.com/wp-content/uploads/2017/04/wsi-imageoptim-Chris-Pratt.jpg");
     background-size: cover;
}
  
#galleryCell-10 {
    display: flex;
    grid-column: 3;
    grid-row: 3 / 5;
    align-items: center;
    font-size: 2.3vw;
    padding: 15%;
}
  
.galCell p, .galCell-left p {
    width: 45%;
    padding: 2%;
    margin: 0;
}

.galCell p {
    float: right;
}

.galCell-left p {
    float: left;
}

/****colors**************************/

.primary {
    background-color: rgb(29, 41, 47);
    color:  lightgray;
}

.primary2 {
    background-color: black;
    color:  rgb(241, 206, 91);
}

.secondary {
    background-color:  rgb(241, 206, 91);
    color:  black;
}

.third {
    background-color: lightgray;
    color:  rgb(29, 41, 47);
}

/**** footer **********************/

footer {
    font-family: gotham-med;
    width: 100%;
    height: 18vw;
    padding-top: 1%;
    padding-bottom: 3%;
}
  
.footer-nav {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 7vw   );
    justify-content: space-around;
    align-items: center;
}

/***links*********************************/

a {
    color: white;
    text-decoration: none;
    background-color: rgb(29, 41, 47);
}

a:hover {
    background-color:  rgb(241, 206, 91);
    color:  rgb(29, 41, 47);
}

.header-links a {
    width: 12%;
    padding: .3%;
    font-size: 1.5vw;
}

.footer-nav a {
    font-size: 1.5vw;
}


@media (max-width: 850px) {
    #staffGallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #galleryCell-10 {
        font-size: 3.6vw;
        grid-column: 2;
        grid-row: 5 / 7;
    }

    .galCell, .galCell-left {
        height: 30vw;
        font-size: 2vw;
    }
    #galleryCell-1 {
        font-size: 3.95vw;
    }
      
}